node_modules/
dist/
out/
release/
SDK/
native-bin/
server-inspect/
vendor/discord_social_sdk/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.iobj
*.ipdb
*.log
.DS_Store
Thumbs.db
.env
.env.*
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
